<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="SupabaseUrl" value="https://elazwcdlrhthxqccvdug.supabase.co" />
        <add key="SupabaseKey" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVsYXp3Y2Rscmh0aHhxY2N2ZHVnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTcwNTEyMzQsImV4cCI6MjA3MjYyNzIzNH0.DRhxvLvqI6R_nlGHvsbO0A5_xwZuYfvrx6CPkef54_o" />
    </appSettings>
    
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>