<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="SupabaseUrl" value="https://gycwoawekmmompvholqr.supabase.co" />
        <add key="SupabaseKey" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd5Y3dvYXdla21tb21wdmhvbHFyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc4NDI3NzYsImV4cCI6MjA3MzQxODc3Nn0.DHYyJrV884VxxljeVZ0SQdWYMBSAvpKpCr1jKKaP1AI" />
		<add key="SupabaseServiceKey" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd5Y3dvYXdla21tb21wdmhvbHFyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1Nzg0Mjc3NiwiZXhwIjoyMDczNDE4Nzc2fQ.0OMcXjFyH7ZwEIEoRvRZmY3uPG-P50613xrvcqy_anM"/>
    </appSettings>
    
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>